In [1]:
import geopandas as gpd

In [2]:
df = gpd.read_file("pipplo_range_2020.geojson")

In [3]:
df.head()

,species_code,scientific_name,common_name,prediction_year,type,season,start_date,end_date,geometry
0,pipplo,Charadrius melodus,Piping Plover,2020,range,breeding,2020-05-31,2020-06-21,"MULTIPOLYGON (((-95.50744 29.04353, -95.48709 ..."
1,pipplo,Charadrius melodus,Piping Plover,2020,range,nonbreeding,2020-11-09,2020-02-22,"MULTIPOLYGON (((-87.00685 20.68017, -86.96362 ..."
2,pipplo,Charadrius melodus,Piping Plover,2020,range,postbreeding_migration,2020-06-28,2020-11-02,"MULTIPOLYGON (((-87.41196 19.87617, -87.38092 ..."
3,pipplo,Charadrius melodus,Piping Plover,2020,range,prebreeding_migration,2020-03-01,2020-05-24,"MULTIPOLYGON (((-97.46321 27.73117, -97.45992 ..."

In [4]:
df.season.unique()

array(['breeding', 'nonbreeding', 'postbreeding_migration',
       'prebreeding_migration'], dtype=object)

In [5]:
season_list = ['breeding','nonbreeding']
filtered_df = df[df['season'].isin(season_list)]

In [6]:
filtered_df.to_file("pipplo_range_filter.geojson", driver='GeoJSON')

Data Source: [Hurricane Sandy Damage Estimates by Block Group, 2012](https://earthworks.stanford.edu/catalog/stanford-jp095bg5089).

In [2]:
sandy_damage = gpd.read_file("sandy-damage.zip")

In [3]:
sandy_damage.head()

,OBJECTID,GEOID,Total_regi,total_dmg,No_inspect,non_flood_,FL_B_lt_2,FL_B_ge_2,FL_LT_1,FL_1_to_4,...,dmg_o_miss,dmg_r_sf,dmg_r_mf,dmg_r_miss,dmg_o_ni,dmg_o_ins,C_tot_hsg,C_vac_sea,pct_dmg_ns,geometry
0,1001,090091511001,18,11,7,0,0,5,1,4,...,0,3,0,0,1,7,337,43,3.7,"POLYGON ((-72.98672 41.23542, -72.98659 41.235..."
1,1002,090091550003,13,10,3,1,1,3,3,2,...,0,0,5,0,1,4,447,0,2.2,"POLYGON ((-72.94220 41.26352, -72.94411 41.263..."
2,1003,090010805001,26,13,13,4,3,3,0,3,...,0,0,0,0,5,8,768,12,1.7,"POLYGON ((-73.15531 41.15865, -73.15557 41.158..."
3,1004,090091505003,100,75,25,2,7,25,9,28,...,0,11,0,0,26,38,424,52,20.2,"MULTIPOLYGON (((-73.10873 41.19009, -73.10768 ..."
4,1005,090091510004,77,63,14,0,1,17,11,24,...,0,7,0,0,7,49,436,11,14.8,"POLYGON ((-73.01622 41.20917, -73.01575 41.208..."

In [10]:
sandy_damage.total_dmg.describe()

count    1827.000000
mean      103.108922
std       140.575693
min        10.000000
25%        14.000000
50%        34.000000
75%       139.500000
max       975.000000
Name: total_dmg, dtype: float64

In [9]:
sandy_damage.to_file("sandy_damage.geojson", driver='GeoJSON')

In [5]:
damage2 = gpd.read_file("CBRS-Sandy-Batch-2-Proposed-2018-12-18_0.zip")

In [6]:
damage2.head()

,Id,Unit,Name,Unit_Type,geometry
0,0,D09P,Block Island,Otherwise Protected Area,"POLYGON ((-7969337.924 5043713.067, -7968039.5..."
1,0,D09,Block Island,System Unit,"POLYGON ((-7965532.314 5045652.647, -7966687.6..."
2,0,D08P,Napatree,Otherwise Protected Area,"POLYGON ((-7999453.051 5058737.165, -7999443.4..."
3,0,D07,Maschaug Ponds,System Unit,"POLYGON ((-7995170.059 5059960.984, -7995166.8..."
4,0,RI-13P,Misquamicut Beach,Otherwise Protected Area,"POLYGON ((-7990939.688 5061881.830, -7990933.6..."

In [8]:
damage2.Unit_Type.unique()

array(['Otherwise Protected Area', 'System Unit'], dtype=object)

In [6]:
import altair as alt

In [9]:
alt.Chart(marker).mark_geoshape().encode(
).project(
    type='albersUsa'
).properties(
    title='Virginia and Maryland',
    width=500,
    height=500
)

alt.Chart(...)

In [10]:
marker.to_file('marker-1.geojson', driver="GeoJSON")

In [12]:
states = gpd.read_file('https://www2.census.gov/geo/tiger/GENZ2020/shp/cb_2020_us_state_5m.zip')

In [13]:
states.head()

,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,geometry
0,55,01779806,0400000US55,55,WI,Wisconsin,00,140292246684,29343721650,"MULTIPOLYGON (((-86.95620 45.35201, -86.95339 ..."
1,54,01779805,0400000US54,54,WV,West Virginia,00,62266296765,489206049,"POLYGON ((-82.64300 38.16956, -82.63905 38.171..."
2,16,01779783,0400000US16,16,ID,Idaho,00,214049923496,2391577745,"POLYGON ((-117.24267 44.39655, -117.23484 44.3..."
3,27,00662849,0400000US27,27,MN,Minnesota,00,206232157570,18949864226,"POLYGON ((-97.23921 48.96868, -97.23802 48.975..."
4,19,01779785,0400000US19,19,IA,Iowa,00,144659688848,1085996889,"POLYGON ((-96.63970 42.73707, -96.63589 42.741..."

In [14]:
state_list = ['Virginia','Maryland']
nm_df = states[states['NAME'].isin(state_list)]

In [15]:
nm_df.head()

,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,geometry
9,24,01714934,0400000US24,24,MD,Maryland,00,25151895765,6979171386,"MULTIPOLYGON (((-76.04940 37.99031, -76.04881 ..."
47,51,01779803,0400000US51,51,VA,Virginia,00,102258180558,8528070310,"MULTIPOLYGON (((-75.99966 37.84820, -75.99686 ..."

In [16]:
nm_df.to_file('virginiaMaryland.geojson', driver="GeoJSON")

In [17]:
ny = states[states['NAME']=="New York"]

In [18]:
ny.head()

,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,geometry
52,36,01779796,0400000US36,36,NY,New York,00,122049520861,19256750161,"MULTIPOLYGON (((-72.03799 41.25351, -72.02944 ..."

In [20]:
ny.to_file('newYork.geojson', driver="GeoJSON")